<div>
    <div class="centered mr-10">
      <p align="center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit mi quis risus aliquet feugiat. Ut suscipit mauris at pulvinar consequat.
        Pellentesque fringilla mauris ut elit sodales, ut porttitor massa cursus. Vestibulum vitae diam mattis, feugiat nibh nec, malesuada libero.
      </p>
      <button type="button" class="btn btn-primary btn-lg btn-success mr-4" (click)="goToGetStarted()">Get Started</button>
      <button type="button" class="btn btn-primary btn-lg btn-primary">Learn More</button>
    </div>
</div>
